{% load i18n %}
<nav class="navbar navbar-expand-lg sanjoor-navbar mb-4">
    <div class="container">
        <a class="navbar-brand text-light" href="{% url 'content:home' %}">{% trans "Sanjoor" %}</a>
        <button class="navbar-toggler btn btn-sm btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
            <span class="text-light">☰</span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'content:home' %}">{% trans "Poets" %}</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'content:search' %}">{% trans "Search" %}</a></li>
            </ul>
            <form class="d-flex" method="get" action="{% url 'content:search' %}">
                <input class="form-control form-control-sm mx-2" type="search" name="q" placeholder="{% trans 'Search verses or poems' %}">
                <button class="btn btn-sm btn-success" type="submit">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
</nav>
